/* Misc Stylings */
body {
    background-color: darkgray
    
}
.custom{
    cursor: url(/images/curosr.png), auto;
}
/* ------------------------------------------------------------------------------------------ */
/* Button Stylings */
.btn-primary {
    color: #fff;
    background-color: black;
    border-color: red; /*set the color you want here*/
    text-decoration: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: red;
    border-color: #285e8e;
    cursor: url(/images/curosr.png), auto;
}
/* -------------------------------------------------------------------------------------- */

/* h1 stylings */
.smile_text{
    font-size: 3.2vw;
    
}
.shad{
    text-shadow:  3px 3px 0 #000,
    -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;;
}
.cl_h1{
    font-size: 7vw;
    background: #296CC4;
    background: -webkit-linear-gradient(to right, #296CC4 38%, #11571F 43%, #F9FF4D 54%, #C23F17 69%);
    background: -moz-linear-gradient(to right, #296CC4 38%, #11571F 43%, #F9FF4D 54%, #C23F17 69%);
    background: linear-gradient(to right, #296CC4 38%, #11571F 43%, #F9FF4D 54%, #C23F17 69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.break_h1{
    color: white;
    font-size: 7vw;
}

.bk_text{
    font-size: 3vw;
}

 /* ---------------------------------------------------------------------------- */

 #break_text{
     margin-top: 100px;
 }


 @media only screen and (max-width:576px) {
     #h1_edit h3{
         font-size: 20px;
        }


     #breakpoint_cols h1{
         font-size: 30px;
     }
     #breakpoint_cols h3{
         font-size: 15px;
     }
 }