/* Misc Stylings */
body {
    background-color: darkgray
    
}
.custom{
    cursor: url(../images/curosr.png), auto;
}

.xtra_margin{
    margin-top: 70px;
}
/* ------------------------------------------------------------------------------------------ */
/* Button Stylings */
.btn-primary {
    color: #fff;
    background-color: black;
    border-color: red; /*set the color you want here*/
    text-decoration: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: red;
    border-color: #285e8e;
    cursor: url(/images/curosr.png), auto;
}
/* -------------------------------------------------------------------------------------- */

/* h1 stylings */
.smile_text{
    font-size: 3.2vw;
    
}
.shad{
    text-shadow:  3px 3px 0 #000,
    -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;;
}
.cl_h1{
    font-size: 7vw;
    background: #296CC4;
    background: -webkit-linear-gradient(to right, #296CC4 38%, #11571F 43%, #F9FF4D 54%, #C23F17 69%);
    background: -moz-linear-gradient(to right, #296CC4 38%, #11571F 43%, #F9FF4D 54%, #C23F17 69%);
    background: linear-gradient(to right, #296CC4 38%, #11571F 43%, #F9FF4D 54%, #C23F17 69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.break_h1{
    color: white;
    font-size: 7vw;
}

.bk_text{
    font-size: 3vw;
}

mark{
    background-color: lightblue;
    opacity: 0.4;
    color:blue;
    text-shadow: none;
    
   }

.big_12{
    font-size: 15vw;
    
}

.heading_tags{
    font-size: 5vw;
    margin-top: 70px;
}

.glow {
    font-size: 21vw;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
 /* ---------------------------------------------------------------------------- */

 #break_text{
     margin-top: 100px;
 }

 #grid_examples{
     margin-top: 100px;
 }


 @media only screen and (max-width:576px) {
     #h1_edit h3{
         font-size: 20px;
        }


     #breakpoint_cols h1{
         font-size: 30px;
     }
     #breakpoint_cols h3{
         font-size: 15px;
     }
 }

 